* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: 'Poppins', sans-serif !important;
  color: #1f1f1f !important;
  font-size: 18px;
}
 
/* header */
#header {
  margin: 32px;
  padding-bottom: 32px;
}
.time {
  color: red;
  font-weight: bold;
  font-size: 24px;
}
.main h1,
.main h2 {
  padding-bottom: 24px;
}
.main h2 {
  font-size: 22px;
}
h2.directions {
  width: 50%;
  margin: 0 auto;
}
#question {
  padding-bottom: 24px;
}
.main,
#quizDiv,
#finalScoreContainer {
  text-align: center;
  margin: 32px;
}

/* buttons */
#startButton,
#btn0,
#btn1,
#btn2,
#btn3 {
  width: 250px;
  font-size: 20px;
  margin: 10px 40px;
  padding: 10px 10px;
}

/* correct vs incorrect*/
#correctCheck {
  color: green;
  font-weight: bold;
}
#incorrectCheck {
  color: red;
  font-weight: bold;
}

/* list elements */
ul,
li {
  list-style: none;
}
li {
  height: 50px;
  margin-top: 5px;
  margin-bottom: 5px;
  padding: 5px;
  background-color: rgb(192, 192, 192);
  color: white;
  font-size: 1.5em;
  line-height: 1.5;
}
li button {
  float: right;
  border: none;
  height: 40px;
  cursor: pointer;
  font-size: 1em;
}

.hidden {
  visibility: hidden;
}